.contenido {
    display: flex;
    align-content: space-evenly;
    align-items: center;
}
 #list-amiibo  {
     display: grid;
     grid-template-columns: repeat(5, 1fr);
     grid-template-rows: auto;
     /*padding-top: 5px;*/
     gap: 5px 5px;
 }
 .cardapp {
    
    object-fit: contain;
    align-items: center;
    width: 15rem; 
    height: 100%; 
    margin-left: 30px;
    text-align: center;
    border-radius: 20px;
    overflow: hidden;
    background: rgba(255, 255, 255, 0.238);
    }

.cardapp-img {
    align-items: center;
    object-fit: contain;
    height: 350px;
    width: 240px;
    border-style: ridge;
    border-radius: 20px 20px 0px 0px;
    transition: all 300ms;
}
cardapp-body {
    background: rgba(255, 255, 255, 0.366);     
}
h5 {
    color: #5a5757;
    font-size: 15px;
    }
p {
    font-size: 15px;
    color: #5a5757;
}
.cardapp-img:hover {
    top: 0px;
    filter: none;
    bottom: -40px;
}