@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital@1&family=Playfair+Display&family=Roboto+Mono:wght@200;400&display=swap');


.contenido {
    display: flex;
    align-content: space-evenly;
    align-items: center;
}
 #list-amiibo  {
     display: grid;
     grid-template-columns: repeat(5, 1fr);
     grid-template-rows: auto;
     padding-top: 5px;
     gap: 5px 5px;
 }
 .card {
    display: flex;
    align-content: space-evenly;
    object-fit: cover;
    align-items: center;
    width: 15rem; 
    height: auto; 
    margin-left: 30px;
    text-align: center;
    border-radius: 20px;
    overflow: hidden;
    background: rgba(255, 255, 255, 0.238);
    }

.card-img {
    display: flex;
    align-content: space-evenly;
    align-items: center;
    object-fit: contain;
    height: 250px;
    width: auto;
    border-style: ridge;
    border-radius: 20px 20px 0px 0px;
    transition: all 500ms;
}
.card-body {
    background: rgba(255, 255, 255, 0.366);
    p {
        font-size: 15px;
        color: #5a5757;
    
        h5 {
        color: #5a5757;
        font-size: 15px;
        }
    }
}

.card-img:hover {
    top: 0px;
    filter: none;
    bottom: -40px;
}

/*hasta aqui*/


















* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'DM Sans', sans-serif;
    font-family: 'Playfair Display', serif;
    font-family: 'Roboto Mono', monospace;
    justify-content: center;
  }
/* navbar */
.navbar {  
 position: fixed;
 align-items:center;
 width: 100%;
z-index: 3;
 border-style:initial;
  }

.logo img {
    height: 70px;
    width: 70px;
    border-radius: 50%;
}
.logopag img {
    border-radius: 50%;
 }
/* navbar */


/* carousel */
.Carousel h2{
    font-size: 26px;
    line-height: 38px;
    padding-bottom: 24px;
    opacity: .9;
    text-transform: uppercase;
    letter-spacing: 10px;
    text-align: center;
}
/* images */
.slick-list{
    position: relative;
    display: flex;
    align-items: center;
    width: 100%;
    height: 304px;
    padding: 10px 0px;
    margin: 0px auto;
    max-width: 90vw;
    overflow: hidden;
}
.slick-track{
    position: relative;
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    transition: .5s ease-in-out;
    background-color: #ffffff46;
    border-radius: 1%;
}
.slick{
    position: relative;
    width: 275px;
    padding: 0 18px;
    float: left;
    box-sizing: border-box;
    display: flex;
    height: 100%;
}
.slick h4{
    position: absolute;
    font-size: 22px;
    line-height: 23px;
    color: #1d1b1b;
    padding: 15px;
}
.slick h4 small{
    font-size: 15px;
    display: block;
}
.slick a img{
    object-fit: cover;
    height: 300px;
    width: 100%;
    border-radius: 4px;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.642);
    transition: .3s ease-in-out;
}
.slick a img:hover{
    opacity: .85;
}
/* carousel */


/* banner */
.bannertop {
    display: flex;
    justify-content: center;
    background-color: rgba(0, 0, 0, 0.475);
    height: 50px;
    width: 100%;
    box-sizing: border-box;
    align-items: center;
    h2 {
        font-size: 30px;
        padding: 60px;
        color: #fbfbfb;
    }
}
     
.bannerbottom {
    display: flex;
    justify-content: center;
    background-color: rgba(0, 0, 0, 0.475);
    height: 50px;
    width: 100%;
    box-sizing: border-box;
    align-items: center;
    h2 {
        font-size: 30px;
        padding: 60px;
        color: #fbfbfb;
    }
}
/* banner */


.column {
    display: flex;
    align-content: stretch;
}

 .texto {
    color: rgb(248, 248, 248);
    text-align: center;
    margin: 100px 0;
    font-size: 20px;
}

.card-body {
    background: rgba(255, 255, 255, 0.366);
    p {
        font-size: 15px;
        color: #5a5757;
    }
    h5 {
        color: #5a5757;
        font-size: 15px;
    }
}

#list-amiibo  {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: auto;
    padding-top: 3px;
    gap: 5px 5px;
}

#filter-array { 
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: auto;
    padding-top: 5px;
    gap: 5px 5px;
}
#array-extra {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: auto;
    padding-top: 5px;
    gap: 5px 5px;
}

.contenido {
    display: flex;
    align-content: space-evenly;
    align-items: center;
}

.list-array {
    display: flex;
    align-content: space-evenly;
    align-items: center;
}

.extra-array {
    display: flex;
    align-content: space-evenly;
    align-items: center;
}

.card {
    width: 15rem; 
    height: auto; 
    margin-left: 35px;
    box-sizing: border-box;
    overflow: hidden;
    text-align: center;
    border-radius: 20px;
    background: rgba(255, 255, 255, 0.238);
    }

.card-img {
    display: flex;
    text-align: center;
    object-fit: contain;
    height: 350px;
    width: auto;
    border-style:ridge;
    border-radius: 20px 20px 0px 0px;
    transition: all 500ms;
}

.card-img:hover {
    top: 0px;
    filter: none;
    bottom: -40px;
}

#contenedor-general {
    height: 100%;
    width: 100%;
    background-image: linear-gradient(135deg, #582BAF, #8DE2ED, #aec7e1, #432f54);
    background-size: 500%;
    animation: animado 10s infinite;
    overflow: hidden;
}

#contenedor-extra {
    height: 100%;
    width: 100%;
    background-image: linear-gradient(135deg, #582BAF, #8DE2ED, #aec7e1, #432f54);
    background-size: 500%;
    animation: animado 10s infinite;
    overflow: hidden;
}
.pagination {
    margin-left: 35px;
    border-bottom-left-radius: 30%;
    padding-top: 15px;
}

footer {
    display: flex;
    align-items: stretch;
    justify-content: space-evenly;
    background-color: #fbfbfb;
    height: 120px;
    width: 100%;
    padding: 15px;
    img {
     height: 40PX;
     width: 40PX;
    }
    p {
        font-size: 10px;
        text-align: center;
    }
}

.semifooter {
    background-color: #7a6d6d;
    height: 30px;
    width: 100%;
    p {
        color: white;
        text-align: center;
        font-size: 10px;
        padding: 9px;
    }
}

.contact {
    background-color: #c9b9b9;
    height: 90px;
    text-align: center;
    shape-outside: margin-box;
    input {
        margin-left: 5px;
        text-align: center;
        border-radius: 5px;
    }
    button {
        border-style: none;
        background-color: #908484;
        margin-right: 5px;
        font-size: 15px;
        margin-bottom: 60px;
        border-radius: 5px;
    }
}

@keyframes animado {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    1500% {
        background-position: 0% 50%;
    }
}




ul {
    list-style-type: none;
}

a {
    text-decoration: none;
}

.wrapper {
    display: grid;
    grid-template-columns: 1fr 4fr;
    background-color: var(--clr-main);
}

aside {
    padding: 2rem;
    padding-right: 0;
    color: white;
    position: sticky;
    top: 0;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    
}

.logo {
    font-weight: 400;
    font-size: 1.3rem;
}

.menu {
    display: flex;
    flex-direction: column;
    gap: .5rem;
}

.boton-menu {
    background-color: transparent;
    border: 0;
    color: white;
    cursor: pointer;
    display: flex;
    align-items: center;
    gap: 1rem;
    font-weight: 600;
    padding: 1rem;
    font-size: .95rem;
    width: 100%;
}

.boton-menu.active {
    background-color: var(--clr-white);
    color: var(--clr-main);
    border-top-left-radius: 1rem;
    border-bottom-left-radius: 1rem;
    position: relative;
    }

.boton-menu.active::before {
    content: '';
    position: absolute;
    width: 1rem;
    height: 2rem;
    bottom: 100%;
    right: 0;
    background-color: transparent;
    border-bottom-right-radius: .5rem;
    box-shadow: 0 1rem 0 var(--clr-white);
}

.boton-menu.active::after {
    content: '';
    position: absolute;
    width: 1rem;
    height: 2rem;
    top: 100%;
    right: 0;
    background-color: transparent;
    border-top-right-radius: .5rem;
    box-shadow: 0 -1rem 0 var(--clr-white);
}

.boton-menu > i.bi-hand-index-thumb-fill,
.boton-menu > i.bi-hand-index-thumb {
    transform: rotateZ(90deg);
}

.boton-carrito {
    margin-top: 2rem;
}

.numerito {
    background-color: var(--clr-white);
    color: var(--clr-main);
    padding: .15rem .25rem;
    border-radius: .25rem;
}

.boton-carrito.active .numerito {
    background-color: var(--clr-main);
    color: var(--clr-white);
}

.texto-footer {
    @include text;
    color: white;
    font-size: 11px;
}

main {
    background-color: var(--clr-white);
    margin: 1rem;
    margin-left: 0;
    border-radius: 2rem;
    padding: 3rem;
}

.titulo-principal {
    color: var(--clr-main);
    margin-bottom: 2rem;
}

.contenedor-productos {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 1rem;
}

.producto-imagen {
    max-width: 100%;
    border-radius: 1rem;
   }

.producto-detalles {
    background-color: var(--clr-main);
    color: var(--clr-white);
    padding: .5rem;
    border-radius: 1rem;
    margin-top: -2rem;
    position: relative;
    display: flex;
    flex-direction: column;
    gap: .25rem;
}

.producto-titulo {
    font-size: 1.2rem;
}

.producto-agregar {
    border: 0;
    background-color: var(--clr-white);
    color: var(--clr-main);
    padding: .4rem;
    text-transform: uppercase;
    border-radius: 2rem;
    cursor: pointer;
    border: 2px solid var(--clr-white);
    transition: background-color .2s, color .2s;
}

.producto-agregar:hover {
    background-color: var(--clr-main);
    color: var(--clr-white);
}


/** CART **/

.contenedor-carrito {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
}

.carrito-vacio,
.carrito-comprado {
    color: var(--clr-main);
}

.carrito-productos {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.carrito-producto {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--clr-gray);
    color: var(--clr-main);
    padding: .5rem;
    padding-right: 1.5rem;
    border-radius: 1rem;
}

.carrito-producto-imagen {
    width: 4rem;
    border-radius: 1rem;
}

.carrito-producto small {
    font-size: .75rem;
}

.carrito-producto-eliminar {
    border: 0;
    background-color: transparent;
    color: var(--clr-red);
    cursor: pointer;
}

.carrito-acciones {
    display: flex;
    justify-content: space-between;
}

.carrito-acciones-vaciar {
    border: 0;
    background-color: var(--clr-gray);
    padding: 1rem;
    border-radius: 1rem;
    color: var(--clr-main);
    text-transform: uppercase;
    cursor: pointer;
}

.carrito-acciones-derecha {
    display: flex;
}

.carrito-acciones-total {
    display: flex;
    background-color: var(--clr-gray);
    padding: 1rem;
    color: var(--clr-main);
    text-transform: uppercase;
    border-top-left-radius: 1rem;
    border-bottom-left-radius: 1rem;
    gap: 1rem;
}

.carrito-acciones-comprar {
    border: 0;
    background-color: var(--clr-main);
    padding: 1rem;
    color: var(--clr-white);
    text-transform: uppercase;
    cursor: pointer;
    border-top-right-radius: 1rem;
    border-bottom-right-radius: 1rem;
}

.header-mobile {
    display: none;
}

.close-menu {
    display: none;
}

.disabled {
    display: none;
}

/*** MEDIA QUERIES ***/

@media screen and (max-width: 850px) {
    .contenedor-productos {
        grid-template-columns: 1fr 1fr 1fr;
    }
}

@media screen and (max-width: 675px) {
    .contenedor-productos {
        grid-template-columns: 1fr 1fr;
    }
}

@media screen and (max-width: 600px) {

    .wrapper {
        min-height: 100vh;
        display: flex;
        flex-direction: column;
    }

    aside {
        position: fixed;
        z-index: 9;
        background-color: var(--clr-main);
        left: 0;
        box-shadow: 0 0 0 100vmax rgba(0, 0, 0, .75);
        transform: translateX(-100%);
        opacity: 0;
        visibility: hidden;
        transition: .2s;
    }

    .aside-visible {
        transform: translateX(0);
        opacity: 1;
        visibility: visible;
    }

    .boton-menu.active::before,
    .boton-menu.active::after {
        display: none;
    }

    main {
        margin: 1rem;
        margin-top: 0;
        padding: 2rem;
    }

    .contenedor-productos {
        grid-template-columns: 1fr 1fr;
    }

    .header-mobile {
        padding: 1rem;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .header-mobile .logo {
        color: var(--clr-gray);
    }

    .open-menu, .close-menu {
        background-color: transparent;
        color: var(--clr-gray);
        border: 0;
        font-size: 2rem;
        cursor: pointer;
    }

    .close-menu {
        display: block;
        position: absolute;
        top: 1rem;
        right: 1rem;
    }

    .carrito-producto {
        gap: 1rem;
        flex-wrap: wrap;
        justify-content: flex-start;
        padding: .5rem;
    }

    .carrito-producto-subtotal {
        display: none;
    }

    .carrito-acciones {
        flex-wrap: wrap;
        row-gap: 1rem;
    }
    

}

@media screen and (max-width: 400px) {
    .contenedor-productos {
        grid-template-columns: 1fr;
    }
}